---
import ProfilePicture from '../components/ProfilePicture.astro';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Separator from '../components/Separator.astro';
import Technologies from '../components/Technologies.astro';
import About from '../components/About.astro';

import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Experience from '../components/Experience.astro';
---

<Layout 
	title="Portfolio de Cesar Vargas | Desarrollador y Programador Web FullStack"
	description="Discover the portfolio of Cesar Vargas, a FullStack Web Developer and Programmer. Explore projects, skills, and experiences in web development and programming."
>
	<Navbar />
	<main id="home" class="mt-16 scroll-mt-28">
		<ProfilePicture />
		<Separator />
		<About />
		<Technologies />
		<Experience />
		<Projects />
		<Contact />
	</main>
</Layout>