<section
    id="about"
    class="mx-auto flex flex-col-reverse justify-evenly mb-8 scroll-mt-36 lg:w-[70%] lg:flex-row lg:px-10 sm:w-[60%] xs:w-full px-0"
>
    <img
        src="/imgs/banner.webp"
        alt="About me"
        class="object-cover mx-auto rounded-lg lg:w-[40%] lg:h-64 sm:ml-0 xs:w-[90%] xs:ml-5 xs:h-[150px] border-2 border-gray-100"
    />
    <div
        class="flex flex-col justify-center gap-y-3 text-center lg:w-[50%] lg:mx-0 md:mb-4 xs:w-[80%] xs:mb-6 xs:mx-auto"
    >
        <h2 class="font-black lg:text-[50px] text-6xl">
            Hello, I'm
            <span
                class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 from-30% via-orange-500 via-70% to-orange-400 xl:inline xs:block"
            >
                Cesar Vargas
            </span>
        </h2>
        <div class="mt-2 grid gap-3 md:grid-cols-3 text-gray-800">
            <div
                class="p-0.5 rounded-lg bg-gradient-to-r from-purple-500 from-30% via-cyan-500 via-70% to-purple-400"
            >
                <div class="h-full bg-background rounded-lg text-white">
                    <!-- <BiAward class="about__icon" /> -->
                    <h3 class="text-lg font-medium">Experience</h3>
                    <span class="text-sm">+2 years working</span>
                </div>
            </div>

            <div class="p-0.5 rounded-lg bg-gradient-to-r from-pink-500 from-30% via-orange-500 via-70% to-orange-400">
                <div class="h-full bg-background rounded-lg text-white">
                    <!-- <BiBriefcaseAlt2 class="about__icon" /> -->
                    <h3 class="text-lg font-medium">Completed</h3>
                    <span class="text-sm">+14 projects</span>
                </div>
            </div>

            <div class="p-0.5 rounded-lg bg-gradient-to-r from-green-500 from-30% via-yellow-500 via-70% to-green-400">
                <div class="h-full bg-background rounded-lg text-white">
                    <!-- <BiMailSend class="about__icon" /> -->
                    <h3 class="text-lg font-medium">Available to work</h3>
                    <span class="text-sm">Of course!</span>
                </div>
            </div>
        </div>
        <p class="opacity-60 text-base">
            <span class="text-xl mb-4"
                >I am a dedicated Full Stack Developer with expertise in both
                frontend and backend technologies. I have experience building
                dynamic web applications, mobile apps, and AI-driven projects,
                utilizing frameworks and languages like React, Next.js, Python,
                and various database technologies.</span
            >
        </p>
    </div>
</section>
