<section
    id="about"
    class="mx-auto flex flex-col-reverse justify-evenly mb-8 scroll-mt-36 lg:w-[80%] lg:flex-row lg:px-10 sm:w-[85%] w-full px-0"
>
    <img
        src="/imgs/banner.webp"
        alt="About me"
        class="object-cover mx-auto rounded-lg lg:w-[40%] lg:h-72 xs:w-[90%] md:ml-5 xs:h-[150px] border-2 border-gray-100"
    />
    <div
        class="flex flex-col justify-center gap-y-3 text-center lg:w-[50%] lg:mx-0 md:mb-4 xs:w-[80%] xs:mb-6 xs:mx-auto"
    >
        <h2 class="font-base lg:text-[50px] text-5xl">
            Hello, I'm
            <span
                class="font-semibold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 from-30% via-orange-500 via-70% to-orange-400 xl:inline xs:block"
            >
                Cesar Vargas
            </span>
        </h2>
        <div class="mt-2 grid gap-6 md:grid-cols-3 text-gray-800">
            <div
                class="p-0.5 rounded-lg bg-gradient-to-r from-purple-500 from-30% via-cyan-500 via-70% to-purple-400"
            >
                <div class="h-full p-2 bg-background rounded-lg text-white">
                    <!-- <BiAward class="about__icon" /> -->
                    <h3 class="text-lg font-medium">Experience</h3>
                    <span class="text-sm">+2 years working</span>
                </div>
            </div>

            <div
                class="p-0.5 rounded-lg bg-gradient-to-r from-pink-500 from-30% via-orange-500 via-70% to-orange-400"
            >
                <div class="h-full p-2 bg-background rounded-lg text-white">
                    <!-- <BiBriefcaseAlt2 class="about__icon" /> -->
                    <h3 class="text-lg font-medium">Completed</h3>
                    <span class="text-sm">+14 projects</span>
                </div>
            </div>

            <div
                class="p-0.5 rounded-lg bg-gradient-to-r from-green-500 from-30% via-yellow-500 via-70% to-green-400"
            >
                <div class="h-full p-2 bg-background rounded-lg text-white">
                    <!-- <BiMailSend class="about__icon" /> -->
                    <h3 class="text-lg font-medium">Available to work</h3>
                    <span class="text-sm">Of course!</span>
                </div>
            </div>
        </div>
        <p class="opacity-85 font-light text-left text-xl mt-2 mb-4 block">
            My first approach to coding was creating Minecraft servers to play
            with my friends. Today, I am a full stack developer with experience
            in technologies such as React, Next.js, Python and AI. I have created
            several applications that optimize work time, facilitate interaction
            with external customers, and generate passive income for the
            company. 
            <!-- Some of my notable achievements include the development of
            an AI chatbot for web and WhatsApp customer support, and the
            automation of reporting for a survey application that reduced a full
            day's work to less than 20 minutes. -->
        </p>
    </div>
</section>
