<section
    id="about"
    class="mx-auto flex flex-col-reverse justify-evenly mb-8 scroll-mt-36 lg:w-[70%] lg:flex-row lg:px-10 sm:w-[60%] xs:w-full px-0"
>
    <img
        src="https://imgs.search.brave.com/T6uiRalLiqAboCgLr2KWTPk2vJzzXFpeJyL_dG-1wB8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9kZXZlbG9waW5n/LXByb2dyYW1tZXIt/cmVhZGluZy1jb21w/dXRlci1jb2Rlcy1k/ZXZlbG9wbWVudC13/ZWJzaXRlLWRlc2ln/bi1jb2RpbmctdGVj/aG5vbG9naWVzXzQ1/MDQxLTM3Ni5qcGc_/c2l6ZT02MjYmZXh0/PWpwZw"
        alt="About me"
        class="object-cover mx-auto rounded-lg lg:w-[40%] lg:h-52 sm:ml-0 xs:w-[90%] xs:ml-5 xs:h-[150px]"
    />
    <div
        class="flex flex-col justify-center gap-y-3 text-center lg:w-[50%] lg:mx-0 md:mb-4 xs:w-[80%] xs:mb-6 xs:mx-auto"
    >
        <h2 class="font-black lg:text-[50px] text-6xl">
            Hello, I'm
            <span
                class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 from-30% via-orange-500 via-70% to-orange-400 xl:inline xs:block"
            >
                Cesar Vargas
            </span>
        </h2>
        <div class="grid gap-x-3 md:grid-cols-3 text-gray-800">
            <div class="bg-gray-100 p-1 rounded-lg">
                <!-- <BiAward class="about__icon" /> -->
                <h3 class="text-lg font-medium">Experience</h3>
                <span class="text-sm">+2 years working</span>
            </div>

            <div class="bg-gray-100 p-1 rounded-lg">
                <!-- <BiBriefcaseAlt2 class="about__icon" /> -->
                <h3 class="text-lg font-medium">Completed</h3>
                <span class="text-sm">+6 projects</span>
            </div>

            <div class="bg-gray-100 p-1 rounded-lg">
                <!-- <BiMailSend class="about__icon" /> -->
                <h3 class="text-lg font-medium">Support</h3>
                <span class="text-sm">16hr/5d</span>
            </div>
        </div>
        <p class="opacity-60 text-base">
            <span class="text-xl mb-4"
                >I am a dedicated Full Stack Developer with expertise in both
                frontend and backend technologies. I have experience building
                dynamic web applications, mobile apps, and AI-driven projects,
                utilizing frameworks and languages like React, Next.js, Python,
                and various database technologies.</span
            >
        </p>
    </div>
</section>
