<div class="navbar-menu-toggle-wrapper bg-gray-800 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10">
    <div class="navbar-menu-toggle" id="navbar-menu-toggle">
        <div>
            <span class="toggle-line-1"></span>
            <span class="toggle-line-2"></span>
            <span class="toggle-line-3"></span>
        </div>
    </div>
</div>

<!-- <button id="navbar-menu-toggle" class="text-white text-2xl font-bold fixed top-0 right-0 p-4 z-50 md:hidden">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="size-8"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
        />
    </svg>
</button> -->
