<article
    class="w-full h-[500px] overflow-hidden flex flex-col items-center justify-center relative md:px-20 xs:px-0"
>
    <header class="text-center absolute top-0 z-10">
        <h1
            class="text-7xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 from-30% via-violet-500 via-70% to-pink-400"
        >
            Frontend Full Stack Developer
        </h1>
        <span
            class="lg:text-[36px] md:text-[26px] block font-bold md:leading-[63px]"
        >
            Passionate young developer
        </span>
        <span
            class="lg:text-[36px] md:text-[26px] block font-bold md:leading-[63px]"
        >
            Crafting digital dreams with
        </span>
        <span
            class="lg:text-[36px] md:text-[26px] block font-bold md:leading-[63px]"
        >
            Creative code wizardry.
        </span>
    </header>
    <img
        src="/profile-picture.png"
        alt="profile picture"
        class="object-cover relative h-[900px] object-top lg:-bottom-[60%] md:-bottom-[40%] xxs:-bottom-[30%] xs:-bottom-[10%] lg:w-[800px] md:w-[1000px] xs:w-[1500px]"
    />
</article>
