
<div class="separator border-t-[1px]"></div>


<style>
    .separator {
        border-image-source: linear-gradient(to left, #09090b, #f3f4f6, #09090b);
        border-image-slice: 1;
        background-image: radial-gradient(at top center, #f3f4f526, #09090b 60%);
        height: 6rem;
        width: 70%;
        margin-inline: auto;
    }
</style>